<!DOCTYPE html>
<html lang="en">

<head>
    <title>DataBase Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Data Base Example</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/list">Show Students</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/add"><span class="glyphicon glyphicon-log-out"></span> Add Record</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <h2>Students Database</h2>
        <h2>Features</h2>
        <ul>
            <li>
                Add Students
            </li>
            <li> 
                Remove Students
            </li>
            <li>    
                View Students
            </li>
        </ul>
    </div>
</body>

</html>