<!DOCTYPE html>
<html lang="en">

<head>
    <title>DataBase Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">DataBase Example</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/list">Show Students</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/add"><span class="glyphicon glyphicon-log-out"></span> Add Record</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <table class="table table-bordered">
            <thead>
                <td>Id</td>
               <td>Name</td>
               <td>Address</td>
               <td>city</td>
               <td>Pincode</td>
               <td>Action</td> 
            </thead>
            
            {% for row in rows %}
               <tr>
                   <td>{{row["s_id"]}}</td>
                  <td>{{row["s_name"]}}</td>
                  <td>{{row["addr"]}}</td>
                  <td> {{ row["city"]}}</td>
                  <td>{{row['pincode']}}</td>
                  <td> <a href ="/delete/{{row['s_id']}}" >Delete</a></td>	
               </tr>
            {% endfor %}
        </table>
    </div>
</body>
